version: 2
jobs:
  build:
    docker:
      # CircleCI Go images available at: https://hub.docker.com/r/circleci/golang/
      - image: circleci/golang:1.9

    working_directory: /go/src/github.com/jkgentry/go-stan

    environment:
      TEST_RESULTS: /tmp/test-results
    steps:
      - checkout

      - setup_remote_docker

      # build and push Docker image
      - run: |
          TAG=0.1.$CIRCLE_BUILD_NUM
          docker build -t jkgentryc/go-stan:$TAG .
          docker login -u $DOCKER_USER -p $DOCKER_PASS
          docker push jkgentryc/go-stan:$TAG

path: /tmp/test-results
